.brand-logo {
  font-family: 'Rock Salt', cursive;
  color:white;
  margin-left:2%;
}

/* .nav a{
  font-family: 'Rock Salt', cursive!important;
  color:white;
  // Change nav links

} */

.content{
  margin-left: 10%;
}
.nav-wrapper{
  font-family: 'Rock Salt', cursive;
  padding-bottom:5%;
}
body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;

  font-family: 'Rock Salt';
}

main {
  margin-top:5%;
  width:100%;
  margin-left:0;
  
}


.card .card-image .card-title {
  color: #fff;
  background-color: #2f4f4f;
  opacity: 30%;
  position: absolute;
  bottom: 0;
  left: 0;
  padding: 3%;
 
}

.card-image img {
  max-height: 200px;
  object-fit: cover;

}

.page-footer {
  background-color: #2f4f4f;
  position: relative;
  bottom: 0px;
}

.card{
  border-radius:20px;
  width:15%;
  float:left;
  margin: 1%;
  min-height: 400px;
  min-width: 125px;
  
  
}
.card img{
  min-height: 150px;
  width:auto;
  
}

.card-content{
  overflow-wrap: break-word;
  margin-bottom: 0;
  margin-left: 0;

  font-size: 1.5vh;
}

.modal{
  max-width:100%;
  min-height:100%;
  opacity: 0.1;
}

#modalform.card{
  min-height: auto;
  width:700px;
  margin-left:-250px;
  /* background-color:rgb(56, 164, 56); */
  padding-left:100px;
  padding-top:0px;
}


#modalheader{
  text-align:center;
}

.card-smallSelection{
width: 20%;
position: relative;
left:15%;


}

#swapmodalicon{
  width: 20%;
  float: left;
  position: relative;
  left:30%;

}

#swapmodalicon img{
  width:100%;
  margin-top:10%;


}

.card-smallSelection2{
  width: 30%;
 font-size:2vw;
 float:left;
 position: relative;
  left:40%;

}
#inner-card.card{
  width:50%;
  margin: 1%;
  min-height: 300px;
}

#inner-card2.card{
  width:15%;
  margin: 2%;
  min-height: 200px;
}



#modaldrop{
  position: relative;
  left:45%;

}



